@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px 13% 0 13%;
}

.header-body {
    display: flex;
    justify-content: space-between;
}

.header-body .logo {

    display: flex; 
    /* justify-content: flex-start;
    align-items: center; */
    /* width: 100px; */
    align-items:center;
    gap: 10px;

}


.header-body .logoimg {
    width: 100px;
    border-radius:50%;
}

.header-body .logoname {
    font-size: 24px;
    color: #F9FAF8;
    align-self:center;
}

.header-body ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 25px;
}

.header-body a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.presentation {
    background-color: #1F2937;
    color: white;
    padding: 1% 13%;
}

.presentation-body {
    display: flex;
    justify-content: center;
    gap: 4%;
    margin: 80px 0px;

}

.description-action {
    flex: 0 1 auto;
}

.presentation-body .title1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 20px;
}

.presentation-body .description1 {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.presentation-body img {
    width: 550px;
    flex: 0 0 auto;
}

.presentation-body .signup1 {
    background-color: #3882F6;
    border-width: 0px;
    border-radius: 10px;
    padding: 12px 30px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 1.1em;
}

.comments {
    background-color: #E5E7EB;
    padding: 1% 20%;
}

.information {
    padding: 1% 13%;
}

.information-body ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 40px;
    flex-wrap: wrap;
}

.information-body li {
    width: 190px;
    margin-bottom: 60px;
}

.imgsqr {
    width: 190px;
    height: 200px;
    /* border: #3882F6;
    border-style: solid;
    border-radius: 15px;*/
    margin-bottom: 15px;
    padding: 0;

    display: flex;

}

.information-body img {
    max-width: 100%;
    border: #3882F6;
    border-style: solid;
    border-radius: 15px;

}

.information-body .description2 {
    text-align: center;

}

.title2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin-bottom: 40px;
    margin-top: 30px;
}

.comments-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 350px;
}

.comments-body .text1 {
    font-size: 36px;
    /* font-style: italic; */
    color: #1F2937;
    font-weight: lighter;
}

.comments-body .author1 {
    align-self: flex-end;
    font-weight: bolder;

}

.ctawrapper {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    align-items: center;
    height: 150px;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cta {
    padding: 1% 20%;
}

.ctawrapper .signup2 {
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 1.1em;
}

.ctawrapper .title3 {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 1.2em;
}

.ctawrapper .description3 {
    color: #F9FAF8;
    font-weight: lighter;
}

.footer {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;

    padding: 30px 0px;
}